@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&display=swap');

:root {
    --black: #05020d;
    --purple: #2a042b;
    --blue: #091647;
    --white: #d9d1db;
    --yellow: #ca711a;
}
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Orbitron", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
}

.white-text {
    color: var(--white);
}

.yellow-text {
    color: var(--yellow);
}
.inq-link {
    text-decoration: none;
    font-family: inherit;
    color: var(--yellow);
    position: relative;
}

.inq-link:hover {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    display: flex;
    width: 100vw;
    height: 5em;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-right: 3em;
}

.nav-logo {
    max-height: 3em;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.5ch;
    transition: 200ms ease-in-out;
}

.nav-link:hover {
    color: var(--yellow);
}

/* Hero Section */
.hero-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    min-height: 100dvh;
    background-image: linear-gradient(to bottom right, var(--blue), var(--black), var(--purple));
    position: relative;
}

h3 {
    color: var(--white);
    font-size: 2ch;
    font-weight: 900;
}
.hero-img {
    width: 90%;
    max-width: 50ch;
}

.hero-btn {
    width: 8em;
    padding: 1em;
    border: 2px solid var(--white);
    border-radius: 1em;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5ch;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
}

.hero-btn:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: var(--blue);
}

.hero-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}
/* About */
#about {
    min-height: 100dvh;
    background-image: linear-gradient(to bottom right, var(--blue), var(--black), var(--purple));
}
.content-box {
    width: 70%;
    max-width: 50ch;
    color: var(--white);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;
    padding: 3em;
    border: 2px solid var(--purple);
    border-radius: 3em;
}
.content-box h3 {
    text-align: center;
    color: var(--yellow);
}

.content-box p {
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-size: 1.5ch;
}

/* Games */ 
#games {
    min-height: 100dvh;
    background-color: var(--black);
}
.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    width: 90%;
    max-width: 90ch;
    padding: 5em;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
    border-radius: 1em;
}
.game-card:hover {
    background-color: var(--blue);
    box-shadow: 0 0 5px var(--blue), 0 0 20px var(--blue), 0 0 40px var(--blue);
    cursor: pointer;
}
.game-logo {
    max-width: 90%;
    height: 80%;
    transition: 200ms ease-in-out;
}
.game-text {
    color: var(--white);
    font-size: 1.25ch;
    font-weight: 500;
}
#games > .white-text {
    font-size: 1.5ch;
    font-weight: 500;
}
/* Sponsors */
#sponsors {
    min-height: 100dvh;
    font-size: 1.5ch;
    font-weight: 900;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
}

#sponsors h3 {
    color: var(--yellow);
}

.sponsors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 50ch;
    width: 90%;
    gap: 1em;
}
.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor a {
    height: 80%;
    display: grid;
    place-items: center;
}
.sponsor-img {
    max-width: 100%;
    max-height: 60%;
    /* width: 30ch; */
}
/* Contact */
#contact {
    min-height: 30dvh;
    gap: 3em;
    color: var(--white);
    background-image: linear-gradient(to bottom right, var(--blue), var(--black), var(--purple));
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.contact-link a {
    text-decoration: none;
    color: var(--white);
}


/* Media queries */
@media (max-width: 480px) {
    .navbar {
        display: none;
    }
    .sponsors {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 440px) {
    .hero-links {
        flex-direction: column;
    }

    .content-box h3 {
        font-size: 1.5ch;
    }
    .content-box p {
        font-size: 1.25ch;;
    }
    .games-grid {
        grid-template-columns: 1fr;
    }
    .pt {
        padding-top: 1em;
    }
    .pb {
        padding-bottom: 1em;
    }
}